# Ignore .env and settings.json
.env
appsettings.json

# Ignore data and build directories
bin/
obj/
target/
data/
node_modules/
__pycache__/
dist-newstyle/
.stack-work/

# Ignore IntelliJ IDEA configuration
.idea/
